:root {
  --currency-display-bg: rgb(220, 220, 220)
}

* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

header {
  display: flex;
  margin: 5px;
  max-height: 4vh;
}

header img {
  max-height: 4vh;
}

.version {
  margin-bottom: auto;
  font-size: 80%
}

#currency-display {
  margin: 10px;
  padding: 10px;
  background: var(--currency-display-bg);
  border-radius: 15px;
  font-family: "Times New Roman";
  border: 1px solid black;
}

#actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

#upgrades {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 10px;
  padding: 10px;
  width: 70%;
  height: 10%;
  border: 2px solid black;
  background: rbg(240, 240, 240);
  border-radius: 5px;
  font-family: "Times New Roman";
}

.btn p.description {
  font-weight: bold;
  margin-bottom: 5px;
}

.warning {
  background: rgb(200, 200, 200);
  padding: 5px;
}

footer {
  background: rgb(40, 20, 25);
  width: 100%;
  bottom: 0%;
  font-size: 65%;
  position: fixed;
}

#bottom {
  padding: 5px 10px;
  display: flex;
}

footer p#github {
  color: white;
}

footer a#changelog {
  margin-left: auto;
}

footer a {
  text-decoration: under;
  color: white;
}

/* Changelog page */

#back {
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

#back a {
  text-decoration: none;
  font-size: 90%;
  color: black;
}

main h1 {
  font-size: 120%;
  font-family: Arial;
  margin: 10px;
  text-align: center;
}

.version-description {
  margin: 20px;
  font-size: 90%;
}

.version-description p {
  margin: 10px;
}

.version-description ul {
  margin: 20px;
}